 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    My Name is ______
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    This is what I do for fun
                    </p>
                </div>
            </div>
        </div>
    </section>