<!-- Photo Post Layout -->
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
            <div class="container" style="padding-top: 150px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                            <h2>{{ page.name }}</h2>
                            <hr class="star">
                            <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                            <p>{{ page.description }}</p>
                            <p>{{ content }}</p>
                    </div>
                </div>
            </div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>

